.header {
  margin-top: 45px;
  border-bottom-color: #545454;
  border-bottom-style: solid;
  border-radius: 1px;
}

.header__image {
  max-width: 880px;
  padding-bottom: 41px;
}

@media screen and (max-width: 480px) {
  .header {
    width: 100%;
  }

  .header__image {
    height: 24px;
    max-width: 126px;
    margin-left: 19px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    margin: auto;
  }

  .header__image {
    height: 33px;
    margin-left: 19px;
    margin-top: 45px;
  }
}
