.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__image {
  max-width: 880px;
  padding-bottom: 41px;
}

@media screen and (max-width: 800px) {
  .header {
    margin: auto;
  }

  .header__image {
    margin-top: 45px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    width: 100%;
  }

  .header__image {
    height: 24px;
    margin-left: 19px;
    margin-top: 28px;
    padding-bottom: 32px;
  }
}
