.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  /*display: flex;*/
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: white;
  padding: 36px;
  border: 1px;
  border-color: black;
  border-radius: 10px;
  position: relative;
  margin: auto;
}

.modal__form {
  margin: 0 auto;
  width: 358px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modal__title {
  margin: 0 0 54px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: black;
}

.modal__close-button {
  background: transparent url(../images/Close\ Icon.svg) center no-repeat;
  border-style: none;
  height: 40px;
  width: 40px;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
}

.modal__close-button:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.6;
  cursor: pointer;
}

.modal__form-fieldset {
  border-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.modal__form-input {
  border-style: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
  margin: 0 0 30px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  padding: 0 0 13px;
}

.modal__form-input:last-of-type {
  margin-bottom: 48px;
}

.modal__form-input::placeholder {
  color: black;
}

.modal__submit-button {
  background: transparent url(../images/Submit\ Button.svg) center no-repeat;
  border-style: none;
  border-radius: 2px;
  padding: 0;
  height: 50px;
}

.modal__submit-button:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 25px 22px 25px;
  }

  .modal__form {
    max-width: 238px;
  }
  .modal__title {
    font-size: 18px;
    margin-bottom: 75px;
  }

  .modal__close-button {
    background: transparent url(../images/Small\ Close\ Icon.svg) center
      no-repeat;
    height: 26px;
    width: 26px;
    top: -45px;
    right: 5px;
  }

  .modal__submit-button {
    background: transparent url(../images/small\ save.svg) center no-repeat;
    height: 46px;
  }

  .modal__form-input:last-of-type {
    margin-bottom: 45px;
  }
}
