<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Around the U.S.</title>
  </head>
  <body class="page">
    <div class="page__content">
      <header class="header page__section">
        <img
          class="header__image"
          src="<%= require('./images/logo.svg')%>"
          alt="The Around the U.S. logo"
        />
      </header>
      <main class="content">
        <section class="profile page__section">
          <img
            class="profile__image"
            src="<%= require('./images/jacques-cousteau.svg')%>"
            alt="Avatar Image"
          />
          <div class="profile__info">
            <h1 class="profile__title" id="profile-title">Jacques Cousteau</h1>
            <p class="profile__description" id="profile-job">Explorer</p>
            <button type="button" class="profile__edit-button"></button>
          </div>
          <button type="button" class="profile__add-button"></button>
        </section>
        <section class="cards page__section">
          <ul class="cards__list">
            <template id="card-template">
              <li class="card">
                <button class="card__delete-button" type="button"></button>
                <img class="card__image" alt="" />
                <div class="card__description">
                  <h2 class="card__title"></h2>
                  <button type="button" class="card__like-button"></button>
                </div>
              </li>
            </template>
          </ul>
        </section>
      </main>
      <footer class="footer page__section">
        <p class="footer__copyright">© 2022 Around the U.S.</p>
      </footer>
    </div>
    <div class="modal" id="profile-edit-window">
      <div class="modal__container">
        <form class="modal__form" id="profile-edit-fields">
          <h2 class="modal__title">Edit profile</h2>
          <button
            type="button"
            class="modal__close-button"
            id="edit-profile-close"
          ></button>
          <fieldset class="modal__form-fieldset">
            <input
              class="modal__form-input"
              type="text"
              id="profile-name"
              name="name"
              placeholder="Name"
              minlength="2"
              maxlength="40"
              required
            />
            <span class="modal__error" id="profile-name-error"></span>
            <input
              class="modal__form-input"
              type="text"
              id="profile-description"
              name="description"
              placeholder="About me"
              minlength="2"
              maxlength="200"
              required
            />
            <span class="modal__error" id="profile-description-error"></span>
          </fieldset>
          <button
            class="modal__submit-button modal__submit-button_disabled"
          ></button>
        </form>
      </div>
    </div>
    <div class="modal" id="add-place-form">
      <div class="modal__container">
        <form class="modal__form" id="add-place-edit-fields">
          <h2 class="modal__title">New Place</h2>
          <button
            type="button"
            class="modal__close-button"
            id="add-place-close"
          ></button>
          <fieldset class="modal__form-fieldset">
            <input
              class="modal__form-input"
              type="text"
              id="place-name"
              name="name"
              placeholder="Title"
              minlength="1"
              maxlength="30"
              required
            />
            <span class="modal__error" id="place-name-error"></span>
            <input
              class="modal__form-input"
              type="url"
              id="image-link"
              name="link"
              placeholder="Image URL"
              required
            />
            <span class="modal__error" id="image-link-error"></span>
          </fieldset>
          <button
            class="modal__submit-button modal__submit-button_disabled"
            disabled
          ></button>
        </form>
      </div>
    </div>
    <div class="modal modal_image-popup" id="image-popup">
      <div class="modal__container_image-popup">
        <img class="modal__image-preview" src="" alt="" />
        <h3 class="modal__image-title"></h3>
        <button
          type="button"
          class="modal__close-button"
          id="image-preview-close"
        ></button>
      </div>
    </div>
  </body>
</html>
